html {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}

.container {
    width: 30em;
    height: fit-content;
    margin: 0 auto;
    margin-top: 10svh;
}

.container__title, .form__label {
    position: relative;
    left: 0;
    margin-bottom: 45px;
    font-size: 2em;
    font-weight: bold;
}

.container__todo-list {
    position: relative;
    border: dashed 0.2em #848484;
    border-radius: 10px;
    height: 18em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__todo-list__title {
    font-size: 1.1em;
    font-weight: 800;
}

.container__todo-list__body {
    color: #777777;
    font-size: 1.2em;
    margin-top: 15px;
}

.container__button {
    background-color: #2e43ff;
    color: #ffffff;
    font-size: 1.3em;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: .3em;
    cursor: pointer;
    transition-duration: 0.2s;
}

.container__button:hover {
  background-color: #2237f3;
  color: #ffffff;
}

.container__button:active {
    background-color: #6776ff;
}

.container__button span {
    font-size:1.8em;
    font-weight: 100;
    position: relative;
    bottom: 3px;
    margin-right: 0.2em;
}

.form__label {
    position: relative;
    display: block;
    margin-bottom: 0.5em;
}

.form__input, .form__dropdown {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2.5em;
    font-size: 1.2em;
    padding: 12px;
    border-radius: 5px;
    color: #757575;
    border: solid 2px #d2d2d2;
}

.form__dropdown {
    appearance: none;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAABQCAYAAABmkUeGAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAWtJREFUaIHtzjtKA1EUh/HvjAFBcEviBqwUFNxGJo1gUAsRo0IaN+AqAhY2Plq3YZcm3RyLm0I0j7kzd7wp/l95H+f8QCmllFJKKaWUUkoppf5m5c3N7k7RewQ/wmw7N2hl7l+OX1+W5YMNb++eME5zm2Jy/KQAP8oNic3cDgtgmhsSnfm0cPw6tyMq9xlVNd56mUw+9l/fehh7uU1rc59VxsFlWb7b/MCGo/srjLPMtOXN0Vf9/jOA/bjYXPwvNPyEhwebh1+Aht/w8HBz8EvQsAgePuTHr0DDMnj4mA+/Bg2r4GHA/+NroGEdPAz6P3xNNNSBh4Hd4yPQUBceBneHj0RDDDwsSI9vgIZYeFiUDt8QDU3gYWF7fAs0NIWHxc3xLdHQBh4A8fgEaGgLD5D6+ERoSAGHeviEaEgFh9X4xGhICYfF+A7QkBo+73w0Oja3Q8ynVNX4YjD47GKPUkoppZRSSimllFKb3zfT5QQy9SFmsAAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-position: right 1.6em top 50%;
    background-size: 1.1em auto;
}

.form__select__icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    scale: 1.25;
}


