* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    width: 30em;
    height: fit-content;
    margin: 0 auto;
    margin-top: 10em;
}

.container__title, .form__label {
    margin-bottom: 45px;
    font-size: 2em;
    font-weight: bold;
}

.container__form__div {
    display: flex;
    justify-content: end;
    flex-basis: 0;

}

.empty-list__button, 
.form__button__delete, 
.form__button__add, 
.container__todo-list__div__addtodo, 
.form__container__div__button {
    background-color: #2e43ff;
    color: #ffffff;
    font-size: 1.3em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: .3em;
    cursor: pointer;
    transition-duration: 0.2s;
}

.form__container__div__button {
    width: 6.5em;
}

.form__container__div__button:last-child {
    margin-left: 2em;
}

.empty-list__button:hover, 
.form__button__add:hover, 
.container__todo-list__div__addtodo:hover, 
.form__container__div__button:last-child:hover {
  background-color: #2237f3;
  color: #ffffff;
}

.empty-list__button:active, 
.form__button__add:active, 
.container__todo-list__div__addtodo:active, 
.form__container__div__button:last-child:active {
    background-color: #6776ff;
}

.form__container__div__button:first-child {
    background-color: initial;
    color: #2e43ff;
    border: 2px solid #cacaca;
}

.form__container__div__button:first-child:hover {
    color: #0014cc;
    border: 2px solid #a5a5a5;
}
  
.form__container__div__button:first-child:active {
    color: #99a1ee;
    border: 2px solid #e9e9e9;
}

.form {
    height: fit-content;
}

.form__label {
    display: block;
    margin-bottom: 0.5em;
}

.form__input, .form__dropdown {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2.5em;
    font-size: 1.2em;
    padding: 12px;
    border-radius: 5px;
    color: #757575;
    border: solid 2px #d2d2d2;
}

.form__dropdown {
    border: solid 2px #505050;
    color: #444444;
}

.form__button__delete, 
.form__button__add  {
    display: block;
    float: right;
    background-color: #ff2e2e;
    margin-bottom: 2em;
}

.form__button__add {
    background-color: #2e43ff;
}

.form__button__delete:hover {
    background-color: #ff1515;
    color: #ffffff;
}
  
.form__button__delete:active {
    background-color: #f56161;
}

.form__dropdown {
    appearance: none;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAABQCAYAAABmkUeGAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAWtJREFUaIHtzjtKA1EUh/HvjAFBcEviBqwUFNxGJo1gUAsRo0IaN+AqAhY2Plq3YZcm3RyLm0I0j7kzd7wp/l95H+f8QCmllFJKKaWUUkoppf5m5c3N7k7RewQ/wmw7N2hl7l+OX1+W5YMNb++eME5zm2Jy/KQAP8oNic3cDgtgmhsSnfm0cPw6tyMq9xlVNd56mUw+9l/fehh7uU1rc59VxsFlWb7b/MCGo/srjLPMtOXN0Vf9/jOA/bjYXPwvNPyEhwebh1+Aht/w8HBz8EvQsAgePuTHr0DDMnj4mA+/Bg2r4GHA/+NroGEdPAz6P3xNNNSBh4Hd4yPQUBceBneHj0RDDDwsSI9vgIZYeFiUDt8QDU3gYWF7fAs0NIWHxc3xLdHQBh4A8fgEaGgLD5D6+ERoSAGHeviEaEgFh9X4xGhICYfF+A7QkBo+73w0Oja3Q8ynVNX4YjD47GKPUkoppZRSSimllFKb3zfT5QQy9SFmsAAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-position: right 1em top 50%;
    background-size: 1.1em auto;
}

.form__break {
    clear: both;
}

.form__line {
    border-top: 1px solid #c3c3c3;
    margin-bottom: 3em;
}

